* { padding: 0; margin:0; -webkit-tap-highlight-color: transparent; } 
a { text-decoration: none; color:inherit; } 
body { width:100%; font-size: 16px; font-weight:500; color:white; background-color: rgb(21, 24, 27); font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; scroll-behavior: smooth; } 
section { height: 100vh; } 
li { list-style: none; } 

/* 마우스 스크롤 이벤트 */
.container { opacity: 0; transition: opacity 0.5s ease; /* 투명도 전환 효과 */}
.container.show { opacity: 1; }
.item.show { opacity: 1; }
.item { opacity: 0; transition: opacity 0.5s ease; }

/* 진척도 */
.progress { width:0%; height:5px; position: fixed; z-index: 1000; background: white; } 

/* Header */
header { position: fixed; width:100%; top:0; box-sizing: border-box; z-index: 9999; } 
header .header-container { width:100%; height:100%; padding:0 50px; margin:0 auto; color: white; z-index: 9999; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; margin-top: 30px;} 
header .header-container .logo { width: 60px; }
header .header-container .logo img { width: 100%; }
header .header-container .menu ul { display:flex; gap:0 30px; justify-content: flex-end; } 
header .header-container .menu ul li { padding: 25px 10px 10px 10px; overflow: hidden; cursor: pointer; font-weight: 900;}
header .header-container .menu ul li a { transition: all .5s; }
header .header-container .menu ul .nav-item.menushow { border-bottom: 3px white solid; transition: all .5s; } 
header .header-container .menu ul .nav-hamburger { display: none; width: 27px; height: 10px; position: relative; cursor: pointer;}
header .header-container .menu ul .nav-hamburger span { display: block; position: absolute; height: 3px; width: 100%; top: 0% ;background: white; border-radius: 3px; transition: transform 0.5;}
header .header-container .menu ul .nav-hamburger span:nth-child(2) { top: 27%;}
header .header-container .menu ul .nav-hamburger span:nth-child(3) { top: 54%;}
header .header-container .menu ul .nav-hamburger.open span:first-child { transform: translateY(15px) rotate(45deg); }
header .header-container .menu ul .nav-hamburger.open span:nth-child(2) { opacity: 0;}
header .header-container .menu ul .nav-hamburger.open span:last-child { transform: translateY(-12px) rotate(-45deg);}

@media screen and (max-width: 767px) {
    header { max-width: 767px; }
    header .header-container { padding: 0px 30px; }
    header .header-container .menu ul .nav-item{ display:none; }
    header .header-container .menu ul .nav-hamburger { display: inline-block;}
}

@media screen and (max-width: 567px) {
    header { max-width: 567px; }    
    header .header-container { padding: 0px 30px; }
    header .header-container .logo { width: 40px; }
    header .header-container .menu ul .nav-item{ display:none; }
    header .header-container .menu ul .nav-hamburger { display: inline-block;}
}

/* mb-menu  */
#mb-menu { display: grid; align-items: center; gap:50px; z-index: 9998; background: rgb(21, 24, 27); position: fixed; width: 100vw; opacity: 0; transition: all .5s; visibility: hidden }
#mb-menu ul { display: grid; justify-content: center; gap:40px; }
#mb-menu ul li { font-size: 2.5rem; font-weight: 900; text-align: center; }
#mb-menu ul li:hover{ border-bottom: 2px solid #fff;}
#mb-menu.opening {visibility: visible; opacity: 1;}

/* Intro */
#Intro { display: flex; justify-content: center; background: url(../images/sec02_bg01.jpg); }
#Intro .Intro-container { position: relative; display: flex; flex-direction: column; justify-content: center; width:100%; } 
#Intro .Intro-container .typo-wrap .typewriter { text-align: center; overflow: hidden; white-space: nowrap; margin: 0 auto; }
#Intro .Intro-container .typo-wrap #typewriter1 { font-size: 8rem; font-weight: 900; }
#Intro .Intro-container .typo-wrap #typewriter2 { font-size: 2.0rem; font-weight: 900; letter-spacing: 1rem; }
#Intro .Intro-container .scroll-wrap { position: absolute; left:48%; bottom: 8%; }
#Intro .Intro-container .scroll-wrap .scroll { position: relative; z-index: 1000; overflow-x: visible; display: flex; justify-content: center; } 
#Intro .Intro-container .scroll-wrap .scroll div { position: absolute; width:35px; height: 35px; background: url(../images/arrow_1.png) no-repeat; background-size: 35px 35px; filter: invert(90%); } 
#Intro .Intro-container .scroll-wrap .scroll div:nth-child(1) { animation: scrolldown 1300ms 650ms linear infinite; animation-fill-mode: backwards; } 
#Intro .Intro-container .scroll-wrap .scroll div:nth-child(2) { animation: scrolldown 1300ms linear infinite; } 
#Intro .Intro-container .scroll-wrap p { color: white; opacity: 0.8; font-size:0.8rem; font-weight: 300; } 
@keyframes scrolldown {
    0% { top: 15px; opacity: 0; } 
    50% { top: 35px; opacity: 0.3; }
    100% { top: 50px; opacity: 0; }    
}

@media (max-width: 1199px) {
    #Intro .Intro-container .typo-wrap #typewriter1 { font-size: 6.0rem; }
    #Intro .Intro-container .typo-wrap #typewriter2 { font-size: 1.8rem; }
}

@media (max-width: 991px) {
    #Intro .Intro-container .typo-wrap #typewriter1 { font-size: 5.5rem; }
    #Intro .Intro-container .typo-wrap #typewriter2 { font-size: 1.7rem; }
}

@media (max-width: 767px) {
    #Intro {height: 80vh;}
    #Intro .Intro-container .typo-wrap #typewriter1 { font-size: 4.0rem; }
    #Intro .Intro-container .typo-wrap #typewriter2 { font-size: 1.6rem; }
    #Intro .Intro-container .scroll-wrap { display: none; }
}

@media (max-width: 575px) {
    #Intro {height: 50vh;}
    #Intro .Intro-container .typo-wrap #typewriter1 { font-size: 3.0rem; }
    #Intro .Intro-container .typo-wrap #typewriter2 { font-size: 1.4rem; }
}

/* About */
#About { background: url(../images/visual.png) center no-repeat #121212; display:flex; justify-content: center; } 
#About .about-container { display: flex; flex-direction: column; justify-content: center; gap: 50px;}
#About .about-container .about-title > h1 { width:100%; text-align: center; font-size: 2.7rem; font-weight: 900; color: rgba(255,255,255,.5); z-index: 50; padding-top: 80px; }  
#About .about-container .about-main-title    { width: 100%; display:flex; justify-content: center; padding-bottom: 50px; } 
#About .about-container .about-main-title #typo-2 { color: white; text-align: center; transition: 600ms ease; z-index: 10; opacity: 1; } 
#About .about-container #typo-2 h1 { line-height: 1.5; font-size: 2.5rem; font-weight: 900; text-align: center; } 
#About .about-container #typo-2 h1 span:nth-child(1) { color: #badbff; } 
#About .about-container #typo-2 h1 span:nth-child(2) { color: #c2ffe3; } 
#About .about-container #typo-2 h1 span:nth-child(3) { color: #ff9d9d; } 
#About .about-container .about-main { display:flex; align-items: center; justify-content: center; } 
#About .about-container .about-main .about-text { padding: 60px 200px; border: 1px dotted #f5f5f5; border-radius: 20px; background: rgba(0,0,0,.5); font-size: 1.2rem; font-weight: 500; } 
#About .about-container #typo-3 { line-height: 1.9; opacity: 1; text-align: center; } 
#About .about-container #typo-3 .tag-wrap { display: flex; margin-top: 30px; align-items: center; justify-content: center; line-height: 100%; } 
#About .about-container #typo-3 .tag-wrap .tag { padding: 12px 20px; margin: 0 8px; background-color: rgba(55, 55, 67, 0.7); border-radius: 10px; } 

@media screen and (max-width: 1199px) {
    #About {max-width: 1199px;}
    #About .about-container .about-title > h1 { font-size: 2.4rem; }
    #About .about-container #typo-2 h1 { font-size: 2.0rem; }
    #About .about-container .about-main .about-text { padding: 60px 140px; }
    #About .about-container #typo-3 { font-size: 1.1rem; }    
    #About .about-container #typo-3 .tag-wrap .tag { padding: 10px 18px; }      
}

@media screen and (max-width: 991px) {
    #About .about-container .about-title > h1 { font-size: 2.0rem; }
    #About .about-container #typo-2 h1 { font-size: 1.6rem; }
    #About .about-container .about-main .about-text { padding: 60px 85px; }
    #About .about-container #typo-3 { font-size: 1.0rem; }    
    #About .about-container #typo-3 .tag-wrap .tag { padding: 9px 16px; }      
}

@media screen and (max-width: 767px) {
    #About { height: 80vh; }    
    #About .about-container .about-title > h1 { font-size: 1.8rem; }
    #About .about-container #typo-2 h1 { font-size: 1.2rem; }
    #About .about-container .about-main .about-text { padding: 60px 40px; }
    #About .about-container #typo-3 { font-size: 0.8rem; }    
    #About .about-container #typo-3 .tag-wrap .tag { padding: 8px 14px; }      
}

@media screen and (max-width: 575px) {
    #About { height: 50vh; }
    #About {max-width: 575px;}    
    #About .about-container .about-title > h1 { font-size: 1.5rem; }
    #About .about-container #typo-2 h1 { font-size: 0.7rem; }
    #About .about-container .about-main-title { padding-bottom: 10px; }
    #About .about-container .about-main .about-text { padding: 30px 20px; }
    #About .about-container #typo-3 { font-size: 0.6rem; }    
    #About .about-container #typo-3 .tag-wrap .tag { padding: 7px 14px; }      
}
/* Stacks */
#Stacks { background: rgb(15, 15, 15); display: flex; justify-content: center; width:100%; } 
#Stacks .stacks-container { display:flex; flex-direction: column; justify-content: center; gap: 120px; }
#Stacks .stacks-container .stacks-title h1 { text-align: center; font-size: 2.5rem; font-weight: 900; width:100%; }
#Stacks .stacks-container .stacks-title h2 { text-align: center; font-size: 1.0rem; font-weight: 400; }
#Stacks .stacks-container .stack-container { display:flex; align-items: center; gap: 100px; position: relative;}
#Stacks .stacks-container .stack-container .stack-title { font-size: 1.5rem; font-weight: 500; background: #4c4c4cae; padding: 10px 15px; border-radius: 10px; width: 180px; text-align: center; }
#Stacks .stacks-container .stack-container ul { display:flex; gap: 40px; width: 818px; }
#Stacks .stacks-container .stack-container ul li { display:flex; gap: 40px; align-items: center; justify-content: center; padding:30px ; border: 1px solid #555454; border-radius: 10px; position: relative; transition: all 0.3s ease; overflow: hidden; background: rgb(39, 39, 39);}
#Stacks .stacks-container .stack-container ul li:hover {padding-right: 200px;}
#Stacks .stacks-container .stack-container ul li a img { width: 70px; height: 70px; } 
#Stacks .stacks-container .stack-container ul li .stack-text { position: absolute; left: 140px; display:flex; justify-content: center ; flex-direction: column; width: 180px; height: 100%; transition: all .5s ease; }
#Stacks .stacks-container .stack-container ul li:hover .stack-text {left: 110px;}
#Stacks .stacks-container .stack-container ul li .stack-text p { padding-left: 20px; padding-bottom: 5px; }
#Stacks .stacks-container .stack-container ul li .stack-text p:first-child { font-size: 1.2rem; font-weight: 800; }
#Stacks .stacks-container .stack-container ul li .stack-text p:last-child { font-size: 0.9rem; font-weight: 400; }

@media screen and (max-width: 1199px) {
    #Stacks .stacks-container { gap: 80px; }
    #Stacks .stacks-container .stack-container { flex-direction: column; }
    #Stacks .stacks-container .stack-container ul { justify-content: center; }
}

@media screen and (max-width: 991px) {
    #Stacks .stacks-container { gap: 80px; }
    #Stacks .stacks-container .stack-container { flex-direction: column; }
    #Stacks .stacks-container .stack-container ul li a img { width: 50px; height: 50px; }
    #Stacks .stacks-container .stack-container ul li:hover { padding-right: 210px; }
    #Stacks .stacks-container .stack-container ul li:hover .stack-text {left: 100px;}   
}

@media screen and (max-width: 767px) {
    #Stacks { height: 200vh; } 
    #Stacks .stacks-container { gap: 80px; min-width: 272px;}
    #Stacks .stacks-container .stack-container ul { flex-direction: column; width: 90px; }
    #Stacks .stacks-container .stack-container ul li { justify-content: unset; }
    #Stacks .stacks-container .stack-container ul li a img { width: 30px; height: 30px; }
    #Stacks .stacks-container .stack-container ul li:hover { padding-right: 240px; }
    #Stacks .stacks-container .stack-container ul li:hover .stack-text {left: 80px;}
    #Stacks .stacks-container .stack-container ul li .stack-text p:first-child { font-size: 1.0rem; font-weight: 800; }  
    #Stacks .stacks-container .stack-container ul li .stack-text p:last-child { font-size: 0.8rem; font-weight: 400; } 
}



/* Works */
#works { position: relative; background: rgb(6, 6, 6); display: flex; justify-content: center; } 
#works .works-container { position: relative; display: flex; flex-direction: column; gap: 100px; justify-content: center; } 
#works .works-container .works-title> h1 { text-align: center; font-size: 2.7rem; font-weight: 900; }
#works .works-container .works-title> h2 { text-align: center; font-size: 1.0rem; font-weight: 400; }
#works .swiper-container { overflow: unset; max-width: 1400px; } 
#works .swiper-content { width: 100%; height: 100%; overflow: hidden; border-radius: 4px; } 
#works .swiper-content .swiper-wrapper .swiper-slide { position: relative; width: 33%; aspect-ratio: 1/1; cursor: pointer; border-radius: 4px; transition: all .3s; overflow: hidden; } 
#works .swiper-content .swiper-wrapper .swiper-slide img { width: 100%; height: 100%; border-radius: inherit; object-fit: cover; object-position: center; transition: transform .3s; } 
#works .swiper-content .swiper-wrapper .swiper-slide:hover { filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1)); } 
#works .swiper-content .swiper-wrapper .swiper-slide:hover img { transform: scale(1.05); opacity: 0.3; }
#works .swiper-content .swiper-wrapper .swiper-slide:hover .swiper-text-container { display: grid ; }
#works .swiper-content .swiper-wrapper .swiper-slide .swiper-text-container { position: absolute; left:0; top:0; width:100%; height:100%; display:none; align-items: center; justify-content: center; transition: all .3s; } 
#works .swiper-content .swiper-wrapper .swiper-slide .swiper-text-container .swiper-text-wrap { display: grid; gap: 30px; }
#works .swiper-content .swiper-wrapper .swiper-slide .swiper-text-container .swiper-text-wrap .swiper-text-title h1 { font-size: 2rem; font-weight: 900; padding-bottom: 10px; }
#works .swiper-content .swiper-wrapper .swiper-slide .swiper-text-container .swiper-text-wrap .swiper-text-title p { font-size: 0.9rem;  font-weight: 800; color: rgb(255, 229, 100);}
#works .swiper-content .swiper-wrapper .swiper-slide .swiper-text-container .swiper-text-wrap .swiper-text-content p {padding-bottom: 20px; font-weight: 600 ;line-height: 2.0rem; font-size: 1.1rem; }
#works .swiper-content .swiper-wrapper .swiper-slide .swiper-text-container .swiper-text-wrap .swiper-text-content div span { border: 1px solid #d6d6d6; padding: 5px 10px; border-radius: 15px; margin-right: 10px; font-size:0.9rem; font-weight: 600; color: rgb(248 199 199); }
#works .swiper-content .swiper-wrapper .swiper-slide .swiper-text-container .swiper-text-wrap .swiper-text-bottom {padding-top: 15px;}
#works .swiper-content .swiper-wrapper .swiper-slide .swiper-text-container .swiper-text-wrap .swiper-text-bottom a { background: rgb(79 78 250); padding: 10px 20px; border-radius: 10px; }
#works .swiper-button-prev,
#works .swiper-button-next { width: 40px; height: 40px; color: #000; background: #111; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px; font-size: 14px; top: 50%; transform: translateY(-50%); margin: 5px 0 0; } 
#works .swiper-button-prev { left: -70px; } 
#works .swiper-button-next { right: -70px; } 
#works .swiper-button-prev::after,
#works .swiper-button-next::after { content: unset; } 
#works .swiper-button-prev i,
#works .swiper-button-next i { color: #fff; } 
#works .swiper-button-next.swiper-button-disabled,
#works .swiper-button-prev.swiper-button-disabled { opacity: .1; } 

@media screen and (max-width: 767px) {
    #works { max-width : 767px; }
}

/* Contact */
#Contact { background: url(../images/sec02_bg01.jpg) 50% 50% no-repeat; display: flex; justify-content: center; } 
#Contact .contact-container { display: flex; flex-direction: column; gap: 155px; } 
#Contact .contact-container .contact-title {margin-top: 100px;}
#Contact .contact-container .contact-title h1 { text-align: center; font-size: 2.7rem; font-weight: 900; } 
#Contact .contact-container .contact-main .contact-wrap { display: flex; flex-direction: column; gap: 30px; position: relative; }
#Contact .contact-container .contact-main .contact-wrap p{ font-size: 1.6rem ; font-weight: 300; } 
#Contact .contact-container .contact-main .contact-wrap p i { padding-right: 10px; }
#Contact .contact-container .social-wrap { display: flex; justify-content: center; gap: 100px;}
#Contact .contact-container .social-wrap li:hover { transform: scale(140%); transition: all 0.5s; } 
#Contact .contact-container .contact-bottom { font-size: 1.1rem; font-weight: 300; color: #7D7D82; text-align: center; } 
